<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link rel="stylesheet" href="styles\yarn_storage.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Home Page</title>
  </head>
  <style>
    .gradient-custom {
    /* fallback for old browsers */
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7b76d, #f5d3a0);  /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(315deg, #ffffff 0%, #06080a 74%);
}
/* .btn{
    margin-top: 0rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
} */
.submit-btn{
    padding-left: 0px;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }
  </style>


<!-- /* Yarn received - yes/no. check box
No. of Cones -
Size of cone - 
no. of doffs -
final weight of cones -
Waste collection weight -
Package defects if any -
Button to report to supervisor  but */ -->


</style>
  <body>
    <section class="mh-100 gradient-custom">
    
        <div class="container py-5 h-100">
            
             

          <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
              <div class="card shadow-2-strong " style="border-radius: 15px;">
                <div class="card-body p-4 p-md-5">
                  <h3 class="mb-4 pb-2 pb-md-0 mb-md-5" style="text-align: center;">Checking</h3>
                  <form action="submitcheckingdata/" method="post">
                    {% csrf_token %} 
                    <div class="row">
                      <div class="col-md-6 mb-4">
    
                        <select name="currentOrderNo" class="select form-control">                                          
                            {% for x in data%}
                            <option value="{{x.orderNo}}">{{x.orderNo}}</option>
                            {% endfor %}
    
                        </select>
    
                      </div>
    
                    </div>
                   
      

      
                    <div class="row">
                      <div class="col-md-6 mb-4">
                    
                        <div class="form-outline">
                          <label class="form-label" for="weight">Date:</label>
                          <input type="date" id="DateOfChecking" name="DateOfChecking" class="form-control form-control-lg" />
                    
                        </div>
                      </div>
                    
                    </div>
                    <div class="row">
                      <div class="col-md-6 mb-4">
                    
                        <div class="form-outline">
                          <label class="form-label select-label" for="weight">Loom:</label>
                          <!-- <input type="number" id="loom"  name="LoomNo" class="form-label select-label" /> -->
                          <select name="LoomNo" id="loom" class="select form-control-lg">
                            
                              <option value="1">Loom 1</option>
                              <option value="2">Loom 2</option>
                                                           
                              
                            </select>
                        </div>
                      </div>
                    
                    </div>

                    <div class="row">
                      <div class="col-md-6 mb-4">
                    
                        <div class="form-outline">
                          <label class="form-label" for="weight">Worker:</label>
                          <input type="number" id="workerNo"  name="workerNo" class="form-control form-control-lg" />
                    
                        </div>
                      </div>

                    </div>

                    <div class="row">
                      <div class="col-md-6 mb-4">
                    
                        <div class="form-outline">
                          <label class="form-label" for="weight">Defect in meters:</label>
                          <input type="number" id="Defect"  name="Defect"class="form-control form-control-lg" />
                    
                        </div>
                      </div>
                    </div>

                      <div class="row">
                        <div class="col-md-6 mb-4">
                      
                          <div class="form-outline">
                            <label class="form-label" for="weight">Points:</label>
                            <input type="number" id="Point" name="Point" class="form-control form-control-lg" />
                      
                          </div>
                        </div>
                      </div>

                        <div class="row">
                          <div class="col-md-6 mb-4">
                        
                            <div class="form-outline">
                              <label class="form-label" for="weight">Grade:</label>
                              <input type="number" id="Grade" name="Grade" class="form-control form-control-lg" />
                        
                            </div>
                            </div>
                          </div>
                         
                          
                          
                          <div class="row">

                 

                            <div class="col-md-6 mb-4">
      
           
      
                              <h6 class="mb-2 pb-1">Repairable: </h6>
      
           
      
                              <div class="form-check form-check-inline">
      
                                <input class="form-check-input" type="radio" name="isRepairable" id="isRepairable"
      
                                  value="1" checked />
      
                                <label class="form-check-label" for="Yes">Yes</label>
      
                              </div>
      
           
      
                              <div class="form-check form-check-inline">
      
                                <input class="form-check-input" type="radio" name="isRepairable" id="isRepairable"
      
                                  value="0" />
      
                                <label class="form-check-label" for="No">No</label>
      
                              </div>
      
                            </div>
      
                          </div>
                    </div>
                    <div class="col-md-6 mb-4 submit-btn">

                      <div class="mt-4 pt-2">
                        <input class="btn btn-primary btn-lg " type="submit" value="Submit" />
                      </div>
                    </div>
      
                  </form>
                </div>
              </div>
            </div>
          </div>
        
    </section>
     
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>